.pageBox {
    background: silver;
    width: 50%;
    height: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 2px solid black;
    margin: 0 auto;
    bottom: 0;
    left: 50%;
}

.filmsDiv {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}