.mainBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: var(--background-fourth);
    box-sizing: border-box;
    padding: 20px;
    color: var(--text-third);
}
.imgBox {
    width: 40%;
    height: 80%;
}
.infoBox {
    box-sizing: border-box;
    width: 60%;
    height: 60%;
    padding: 20px;
}
.infoBox h2 {
    display: flex;
    justify-content: center;
}


.genresDiv{
    display: flex;
    width: 100%;
    height: 5%;
    justify-content: space-between;
    align-items: center;
}
.otherDiv {
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
}

.colorD{
    color: var(--text-primary)
}
.badge {
    background-color: silver;
    color: black;
}